
<!doctype html>
{% load staticfiles %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" crossorigin></script>
  </head>

  <body>
    <main>
      <h1>Django Example App 8</h1>
      <p><a href="{% url 'example_app_8:index' %}">Index</a></p>
      <p><a href="{% url 'example_app_8:category_create' %}">New Category</a></p>
      <hr>
      <div id="vue-root">
        <div v-if="query">
          <label>Search Categories: </label><input v-model="search_value" type="text" placeholder="Search for...">
          <h2>Categories</h2>
          <ul>
            <category
              v-for="category in query"
              v-bind:category="category"
              v-bind:key="category.pk"
            >
            </category>
          </ul>
        </div>
        <div v-else>
          <h2>Something went wrong.</h2>
          <p>If you see this, then Vue did not load properly.</p>
        </div>
      </div>
    </main>

    <script>
      // Get json list of django models as JavaScript variable.
      var categories = {{ json_categories|safe }};

      // Iterate through list of models and save url field for each.
      // This is accomplished by creating a "dummy" url in django to load from. It gets the desired url, but with a
      // placeholder string for the pk (make sure the placeholder is not a valid pk).
      // From here, we use javascript to read the json model information, and replace the dummy url with a valid one.
      // Finally, we add this url to the list of json model information.
      categories.forEach((category) => {
        category.fields['url'] = "{% url 'example_app_8:category_edit_js' %}".replace("category_pk", category.pk)
      });
    </script>
    <script src="{% static 'example_app_8/js/category_search.js' %}"></script>
  </body>

</html>
