{% extends 'example_app_6/base.html' %}


{% block title%}<title>Example App 6 Index</title>{% endblock title %}


{% block content %}
  <h1>Example App 6 Index</h1>

  <p>This page gets a random number via Ajax, from the url
    <a href="{% url 'example_app_6:ajax_get_number' %}">{% url 'example_app_6:ajax_get_number' %}</a>.
  </p>
  <br>
  <div>
    <p>The random number is: <b><span class="random-number"></span></b>.</p>
    <button class="rand-button">Generate new number</button>
  </div>

  <br>
  <p>
    Reminder that Ajax is a form of Javascript.
    The Javascript portion of this code can be found in the app's "static" folder.
  </p>
{% endblock content %}
