{% extends 'example_app_4/pizza_base.html' %}


{% block sub_title %}Detail{% endblock sub_title %}


{% block content %}
  <h1>Pizza Detail</h1>

  <p>Name: {{ pizza.name }}</p>
  <p>Price: {{ pizza.price }}</p>
  <p>Toppings:
    {% for topping in topping_set %}
      {{ topping.name }},
    {% endfor %}
  </p>
  <p>Created At: {{ pizza.date_created }}</p>
  <p>Last Updated: {{ pizza.date_modified }}</p>

  <p><a href="{% url 'example_app_4:pizza_edit' pk=pizza.pk %}">Edit</a></p>
{% endblock content %}
